@charset "UTF-8";

:root {
    --cor1: rgba(95, 95, 235, 0.818);
    --cor2: rgba(197, 197, 241, 0.777);
}

body {
    background-color: var(--cor1);
}
header {
    text-align: center;
    color: white;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
}
p > input.bot {
    color: white;
    border: none;
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 10px;
}
p > input.bot:hover {
    background-color: var(--cor2);
    color: rgba(0, 0, 0, 0.684);
}

footer {
    color: white;
    text-align: center;
}