* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*respeitar a bordar das caixas*/
}

body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;

  display: grid;
  drid-template-areas: "profile timeline"; //uma coluna profile e uma timeline
  grid-template-columns: 1fr 1fr; // deixando o tamnaho flexivel com metade igual
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline; //to dizendo que a area dela no grid e a time line
  background-color: blue;
}

.memory {
  /*elemento pai : qm ta dentro de min deve ter:...*/
  display: flex; /* elementos flexivel, so q fica um do lado do outro*/
  flex-direction: column; /* mando ficar um de baixo do outro*/
  gap: 16px; /* espaçamento entre elementos*/

  text-decoration: none;
  margin-bottom: 12px;
}

.memory small {
  color: #bebebf;
  font-size: 12px;
}

.memory h1 {
  color: #bebebf;
  font-size: 32px;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover; /*nao esticar mantendo tipo uma capa*/
  border-radius: 8px;
}

.memory p {
  font-size: 18px;
  color: #bebebf;
  line-height: 28px; /*espacamento da linha*/
}

aside {
  grid-area: profile; //separei timeline em nav e profile em aside
  background-color: red;
}
